{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false
      }
    ],
    "@babel/react"
  ],
  "env": {
    "test": {
      "presets": [
        "@babel/preset-env"
      ]
    }
  }
}
