<div class="p-2">
  <div class="h-2"></div>

  <table>
    <thead>
      @for (headerGroup of table.getHeaderGroups(); track headerGroup.id) {
        <tr>
          @for (header of headerGroup.headers; track header.id) {
            <th [attr.colSpan]="header.colSpan">
              @if (!header.isPlaceholder) {
                <ng-container
                  *flexRender="
                    header.column.columnDef.header;
                    props: header.getContext();
                    let headerCell
                  "
                >
                  {{ headerCell }}
                </ng-container>

                @if (header.column.getCanFilter()) {
                  <div>
                    <app-table-filter
                      [column]="header.column"
                      [table]="table"
                    />
                  </div>
                }
              }
            </th>
          }
        </tr>
      }
    </thead>
    <tbody>
      @for (row of table.getRowModel().rows; track row.id) {
        <tr>
          @for (cell of row.getVisibleCells(); track cell.id) {
            <td>
              <ng-container
                *flexRender="
                  cell.column.columnDef.cell;
                  props: cell.getContext();
                  let renderCell
                "
              >
                {{ renderCell }}
              </ng-container>
            </td>
          }
        </tr>
      }
    </tbody>
    <tfoot>
      <tr>
        <td class="p-1">
          <input
            type="checkbox"
            [checked]="table.getIsAllPageRowsSelected()"
            [indeterminate]="table.getIsSomePageRowsSelected()"
            (change)="table.toggleAllPageRowsSelected()"
          />
        </td>
        <td [attr.colspan]="20">
          Page Rows ({{ table.getRowModel().rows.length }})
        </td>
      </tr>
    </tfoot>
  </table>

  <div class="h-2"></div>
  <div class="flex items-center gap-2">
    <button
      class="border rounded p-1"
      (click)="table.setPageIndex(0)"
      [disabled]="!table.getCanPreviousPage()"
    >
      <<
    </button>
    <button
      class="border rounded p-1"
      (click)="table.previousPage()"
      [disabled]="!table.getCanPreviousPage()"
    >
      <
    </button>
    <button
      class="border rounded p-1"
      (click)="table.nextPage()"
      [disabled]="!table.getCanNextPage()"
    >
      >
    </button>
    <button
      class="border rounded p-1"
      (click)="table.setPageIndex(table.getPageCount() - 1)"
      [disabled]="!table.getCanNextPage()"
    >
      >>
    </button>
    <span class="flex items-center gap-1">
      <div>Page</div>
      <strong>
        {{ table.getState().pagination.pageIndex + 1 }} of
        {{ table.getPageCount() }}
      </strong>
    </span>
    <span class="flex items-center gap-1">
      | Go to page:
      <input
        type="number"
        [value]="table.getState().pagination.pageIndex + 1"
        (input)="onPageInputChange($event)"
        class="border p-1 rounded w-16"
      />
    </span>

    <select
      [value]="table.getState().pagination.pageSize"
      (change)="onPageSizeChange($event)"
    >
      @for (pageSize of [10, 20, 30, 40, 50]; track pageSize) {
        <option [value]="pageSize">Show {{ pageSize }}</option>
      }
    </select>
  </div>
  <br />
  <div>
    {{ rowSelectionLength() }} of
    {{ table.getPreFilteredRowModel().rows.length }} Total Rows
  </div>
  <hr />
  <br />
  <div>
    <button class="border rounded p-2 mb-2" (click)="refreshData()">
      Refresh Data
    </button>
  </div>
  <div>
    <button class="border rounded p-2 mb-2" (click)="logSelectedFlatRows()">
      Log table.getSelectedRowModel().flatRows
    </button>
  </div>
  <div>
    <label>Row Selection State:</label>
    <pre>{{ stringifiedRowSelection() }}</pre>
  </div>
</div>

<ng-template #ageHeaderCell let-context>
  <span>Age 🥳</span>
</ng-template>
