<div class="demo-root">
  <div class="spacer-sm"></div>
  <table>
    <thead>
      @for (headerGroup of table.getHeaderGroups(); track headerGroup.id) {
        <tr>
          @for (header of headerGroup.headers; track header.id) {
            <th [attr.colSpan]="header.colSpan">
              @if (!header.isPlaceholder) {
                <ng-container *flexRenderHeader="header; let headerCell">{{
                  headerCell
                }}</ng-container>
              }
            </th>
          }
        </tr>
      }
    </thead>
    <tbody>
      @for (row of table.getRowModel().rows; track row.id) {
        <tr>
          @for (cell of row.getAllCells(); track cell.id) {
            <td>
              <ng-container *flexRenderCell="cell; let renderCell">{{ renderCell }}</ng-container>
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
  <div class="controls">
    <button
      class="demo-button demo-button-sm"
      (click)="table.firstPage()"
      [disabled]="!table.getCanPreviousPage()"
    >
      &lt;&lt;
    </button>
    <button
      class="demo-button demo-button-sm"
      (click)="table.previousPage()"
      [disabled]="!table.getCanPreviousPage()"
    >
      &lt;
    </button>
    <button
      class="demo-button demo-button-sm"
      (click)="table.nextPage()"
      [disabled]="!table.getCanNextPage()"
    >
      &gt;
    </button>
    <button
      class="demo-button demo-button-sm"
      (click)="table.lastPage()"
      [disabled]="!table.getCanNextPage()"
    >
      &gt;&gt;
    </button>
    <span class="inline-controls"
      ><div>Page</div>
      <strong
        >{{ (pagination().pageIndex + 1).toLocaleString() }} of
        {{ table.getPageCount().toLocaleString() }}</strong
      ></span
    >
    <span class="inline-controls"
      >| Go to page:
      <input
        type="number"
        min="1"
        [max]="table.getPageCount()"
        [value]="pagination().pageIndex + 1"
        (input)="onPageInputChange($event)"
        class="page-size-input"
    /></span>
    <select [value]="pagination().pageSize" (change)="onPageSizeChange($event)">
      @for (pageSize of [10, 20, 30, 40, 50]; track pageSize) {
        <option [value]="pageSize">Show {{ pageSize }}</option>
      }
    </select>
    @if (dataQuery.isFetching()) {
      Loading...
    }
  </div>
  <div>
    Showing {{ table.getRowModel().rows.length.toLocaleString() }} of
    {{ dataQuery.data()?.rowCount?.toLocaleString() }} Rows
  </div>
  <div>
    <button (click)="rerender()">Force Rerender</button>
  </div>
  <pre>{{ stringifiedState() }}</pre>
</div>
