<div class="demo-root">
  <button (click)="refreshData()" class="demo-button demo-button-spaced">Regenerate Data</button>
  <button (click)="stressTest()" class="demo-button demo-button-spaced">
    Stress Test (200k rows)
  </button>
  <div class="spacer-sm"></div>

  <table>
    <thead>
      @for (headerGroup of table.getHeaderGroups(); track headerGroup.id) {
        <tr>
          @for (header of headerGroup.headers; track header.id) {
            <th [attr.colSpan]="header.colSpan">
              @if (!header.isPlaceholder) {
                <ng-container
                  *flexRender="
                    header.column.columnDef.header;
                    props: header.getContext();
                    let headerCell
                  "
                >
                  {{ headerCell }}
                </ng-container>

                @if (header.column.getCanFilter()) {
                  <div>
                    <!-- TODO fix type -->
                    <app-table-filter [column]="$any(header.column)" [table]="table" />
                  </div>
                }
              }
            </th>
          }
        </tr>
      }
    </thead>
    <tbody>
      @for (row of table.getRowModel().rows; track row.id) {
        <tr>
          @for (cell of row.getVisibleCells(); track cell.id) {
            <td>
              <ng-container
                *flexRender="cell.column.columnDef.cell; props: cell.getContext(); let renderCell"
              >
                {{ renderCell }}
              </ng-container>
            </td>
          }
        </tr>
      }
    </tbody>
    <tfoot>
      <tr>
        <td class="cell-padding">
          <input
            type="checkbox"
            [checked]="table.getIsAllPageRowsSelected()"
            [indeterminate]="table.getIsSomePageRowsSelected()"
            (change)="table.toggleAllPageRowsSelected()"
          />
        </td>
        <td [attr.colspan]="20">
          Page Rows ({{ table.getRowModel().rows.length.toLocaleString() }})
        </td>
      </tr>
    </tfoot>
  </table>

  <div class="spacer-sm"></div>
  <div class="controls">
    <button
      class="demo-button demo-button-sm"
      (click)="table.setPageIndex(0)"
      [disabled]="!table.getCanPreviousPage()"
    >
      <<
    </button>
    <button
      class="demo-button demo-button-sm"
      (click)="table.previousPage()"
      [disabled]="!table.getCanPreviousPage()"
    >
      <
    </button>
    <button
      class="demo-button demo-button-sm"
      (click)="table.nextPage()"
      [disabled]="!table.getCanNextPage()"
    >
      >
    </button>
    <button
      class="demo-button demo-button-sm"
      (click)="table.setPageIndex(table.getPageCount() - 1)"
      [disabled]="!table.getCanNextPage()"
    >
      >>
    </button>
    <span class="inline-controls">
      <div>Page</div>
      <strong>
        {{ (table.store.state.pagination.pageIndex + 1).toLocaleString() }} of
        {{ table.getPageCount().toLocaleString() }}
      </strong>
    </span>
    <span class="inline-controls">
      | Go to page:
      <input
        type="number"
        [value]="table.store.state.pagination.pageIndex + 1"
        (input)="onPageInputChange($event)"
        class="page-size-input"
      />
    </span>

    <select [value]="table.store.state.pagination.pageSize" (change)="onPageSizeChange($event)">
      @for (pageSize of [10, 20, 30, 40, 50]; track pageSize) {
        <option [value]="pageSize">Show {{ pageSize }}</option>
      }
    </select>
  </div>
  <br />
  <div>
    {{ rowSelectionLength().toLocaleString() }} of
    {{ table.getPreFilteredRowModel().rows.length.toLocaleString() }} Total Rows
  </div>
  <hr />
  <br />
  <div>
    <button class="demo-button demo-button-spaced" (click)="logSelectedFlatRows()">
      Log table.getSelectedRowModel().flatRows
    </button>
  </div>
  <div>
    <label>Row Selection State:</label>
    <pre>{{ stringifiedRowSelection() }}</pre>
  </div>
</div>

<ng-template #ageHeaderCell let-context>
  <span>Age 🥳</span>
</ng-template>
