<div class="table-scroll">
  <table [style.width.px]="table.getTotalSize()">
    <thead>
      @for (headerGroup of table.getHeaderGroups(); track headerGroup.id) {
        <tr>
          @for (header of headerGroup.headers; track header.id) {
            <th [style.width.px]="header.getSize()">
              @if (!header.isPlaceholder) {
                <ng-container *flexRenderHeader="header; let headerCell">
                  {{ headerCell }}
                </ng-container>
              }
            </th>
          }
        </tr>
      }
    </thead>
    <tbody>
      @for (row of table.getRowModel().rows; track row.id) {
        <tr
          [class.is-selected]="selectedSymbol() === row.original.symbol"
          [attr.data-symbol]="row.original.symbol"
          [attr.data-row-id]="row.original.id"
          [attr.title]="row.original.company"
        >
          @for (cell of row.getVisibleCells(); track cell.id) {
            <td
              [style.width.px]="cell.column.getSize()"
              [class.numeric-cell]="cell.column.id !== 'symbol' && cell.column.id !== 'venue'"
            >
              <ng-container *flexRenderCell="cell; let renderCell">
                {{ renderCell }}
              </ng-container>
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>
