<div class="demo-root">
  <button class="demo-button demo-button-spaced" (click)="refreshData()">Regenerate Data</button>
  <button class="demo-button demo-button-spaced" (click)="stressTest()">
    Stress Test (200k rows)
  </button>
  <div class="spacer-sm"></div>

  <table>
    <thead>
      @for (headerGroup of table.getHeaderGroups(); track headerGroup.id) {
        <tr>
          @for (header of headerGroup.headers; track header.id) {
            <th [attr.colSpan]="header.colSpan">
              @if (!header.isPlaceholder) {
                <div>
                  <ng-container *flexRenderHeader="header; let headerCell">
                    {{ headerCell }}
                  </ng-container>
                </div>

                @if (header.column.getCanFilter()) {
                  <div>
                    <app-table-filter [column]="header.column" [table]="table" />
                  </div>
                }
              }
            </th>
          }
        </tr>
      }
    </thead>
    <tbody>
      @for (row of table.getRowModel().rows; track row.id) {
        <tr>
          @for (cell of row.getAllCells(); track cell.id) {
            <td>
              <ng-container *flexRenderCell="cell; let renderCell">
                {{ renderCell }}
              </ng-container>
            </td>
          }
        </tr>
      }
    </tbody>
  </table>

  <div class="spacer-sm"></div>
  <div class="controls">
    <button
      class="demo-button demo-button-sm"
      (click)="table.setPageIndex(0)"
      [disabled]="!table.getCanPreviousPage()"
    >
      <<
    </button>
    <button
      class="demo-button demo-button-sm"
      (click)="table.previousPage()"
      [disabled]="!table.getCanPreviousPage()"
    >
      <
    </button>
    <button
      class="demo-button demo-button-sm"
      (click)="table.nextPage()"
      [disabled]="!table.getCanNextPage()"
    >
      >
    </button>
    <button
      class="demo-button demo-button-sm"
      (click)="table.setPageIndex(table.getPageCount() - 1)"
      [disabled]="!table.getCanNextPage()"
    >
      >>
    </button>
    <span class="inline-controls">
      <div>Page</div>
      <strong>
        {{ (table.store.state.pagination.pageIndex + 1).toLocaleString() }} of
        {{ table.getPageCount().toLocaleString() }}
      </strong>
    </span>
    <span class="inline-controls">
      | Go to page:
      <input
        type="number"
        [value]="table.store.state.pagination.pageIndex + 1"
        (input)="onPageInputChange($event)"
        class="page-size-input"
      />
    </span>

    <select [value]="table.store.state.pagination.pageSize" (change)="onPageSizeChange($event)">
      @for (pageSize of [10, 20, 30, 40, 50]; track pageSize) {
        <option [value]="pageSize">Show {{ pageSize }}</option>
      }
    </select>
  </div>
  <div>{{ table.getPrePaginatedRowModel().rows.length.toLocaleString() }} Rows</div>
  <div>
    <pre>{{ stringifiedFilters() }}</pre>
  </div>
</div>
