<div class="app">
  <p>
    <strong>Notice:</strong> You are currently running Angular in development mode. Virtualized
    rendering performance will be slightly degraded until this application is built for production.
  </p>
  ({{ data().length.toLocaleString() }} rows)
  <div>
    <button (click)="refreshData()">Regenerate Data</button>
    <button (click)="stressTest()">Stress Test (1M rows)</button>
  </div>
  <div #scrollContainer class="container" style="overflow: auto; position: relative; height: 800px">
    <!-- Even though we're still using sematic table tags, we must use CSS grid and flexbox for dynamic row heights -->
    <table style="display: grid" [style.width.px]="table.getTotalSize()">
      <thead style="display: grid; height: 34px; position: sticky; top: 0; z-index: 1">
        @for (headerGroup of table.getHeaderGroups(); track headerGroup.id) {
          <tr style="display: flex; height: 34px; width: 100%">
            @for (header of headerGroup.headers; track header.id) {
              <th
                style="align-items: center; display: flex; height: 34px"
                [style.width.px]="header.getSize()"
              >
                @if (!header.isPlaceholder) {
                  <div
                    [class.sortable-header]="header.column.getCanSort()"
                    (click)="header.column.getToggleSortingHandler()?.($event)"
                  >
                    <ng-container *flexRenderHeader="header; let headerCell">
                      {{ headerCell }}
                    </ng-container>
                    {{ sortIndicator(header.column.getIsSorted()) }}
                  </div>
                }
              </th>
            }
          </tr>
        }
      </thead>
      <tbody style="display: grid; position: relative" [style.height.px]="totalSize()">
        @for (virtualRow of virtualRows(); track virtualRow.key) {
          @let row = rows()[virtualRow.index];
          <tr
            [attr.data-index]="virtualRow.index"
            [style.transform]="'translateY(' + virtualRow.start + 'px)'"
            style="display: flex; position: absolute; width: 100%"
          >
            @for (cell of row.getAllCells(); track cell.id) {
              <td style="display: flex" [style.width.px]="cell.column.getSize()">
                <ng-container *flexRenderCell="cell; let renderCell">
                  {{ renderCell }}
                </ng-container>
              </td>
            }
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
<pre>{{ stringifiedState() }}</pre>
