@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600");
body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 5px;
}

p {
  margin-bottom: 15px;
}