// -----------------------------------------------------------------------------
// Globals
// -----------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600')
@import 'nib'

global-reset()

// -----------------------------------------------------------------------------
// vendor styles
// -----------------------------------------------------------------------------

@import '../node_modules/react-table/react-table.css'

// -----------------------------------------------------------------------------
// variables
// -----------------------------------------------------------------------------

$fnt-open-sans = 'Open Sans', sans-serif
$clr-jumpsuit1 = #003952
$clr-jumpsuit2 = #005275
$clr-jumpsuit3 = #0082bb

// -----------------------------------------------------------------------------
// styles
// -----------------------------------------------------------------------------

*
  box-sizing border-box

html
  min-height 100vh

body
  background: $clr-jumpsuit1
  background: radial-gradient(ellipse at center, $clr-jumpsuit2 0%, $clr-jumpsuit1 100%)
  font-family: $fnt-open-sans
  font-weight: 300
  padding-bottom: 50px

h1
  font-size: 2.5em
  color: white

a
  color: white
  font-weight: bold

strong
  font-weight: bold

.container
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  min-height: 100vh
  padding-top: 20px

  .github-addon
    font-size: 20px
    color:white
    padding: 10px

  .table-wrap
    background: white
    width: 700px
    padding: 10px
    border-radius: 5px
