// -----------------------------------------------------------------------------
// Globals
// -----------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600')
@import 'nib'

global-reset()

// -----------------------------------------------------------------------------
// vendor styles
// -----------------------------------------------------------------------------

@import '../node_modules/react-table/react-table.css'

// -----------------------------------------------------------------------------
// variables
// -----------------------------------------------------------------------------

$fnt-open-sans = 'Open Sans', sans-serif
$react = #25d8fd

// -----------------------------------------------------------------------------
// styles
// -----------------------------------------------------------------------------

*
  box-sizing border-box

html
  min-height 100vh

body
  background: white
  font-family: $fnt-open-sans
  font-weight: 300
  padding-bottom: 50px

h1
  font-size: 2.5em
  color: white

a
  color: darken($react, 20%)
  font-weight: bold
  text-decoration: none

strong
  font-weight: bold

.logo
  width: 400px

.container
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  min-height: 100vh
  padding-top: 20px

  .github-addon
    font-size: 20px
    padding: 10px

  .table-wrap
    width: 700px
    padding: 10px
    border-radius: 5px
    box-shadow: 0 0 20px 0 alpha(black, .2)

.ReactTable
	thead
		th
		td
			&.-sort-asc
				box-shadow:inset 0 3px 0 0 alpha(black, .6)
			&.-sort-desc
				box-shadow:inset 0 -3px 0 0 alpha(black, .6)
