<table>
  <thead>
    @for (headerGroup of table.getHeaderGroups(); track headerGroup.id) {
      <tr>
        @for (header of headerGroup.headers; track header.id) {
          <th [attr.colSpan]="header.colSpan">
            @if (!header.isPlaceholder) {
              <ng-container
                *flexRender="header.column.columnDef.header; props: header.getContext(); let header"
              >
                <span>{{ header }}</span>
              </ng-container>
            }
          </th>
        }
      </tr>
    }
  </thead>
  <tbody>
    @for (row of table.getRowModel().rows; track row.id) {
      <tr>
        @for (cell of row.getVisibleCells(); track cell.id) {
          <td>
            <ng-container
              *flexRender="cell.column.columnDef.cell; props: cell.getContext(); let cell"
            >
              {{ cell }}
            </ng-container>
          </td>
        }
      </tr>
    }
  </tbody>
</table>

<div class="spacer-sm"></div>
<div class="controls">
  <button
    class="demo-button demo-button-sm"
    (click)="table.setPageIndex(0)"
    [disabled]="!table.getCanPreviousPage()"
  >
    <<
  </button>
  <button
    class="demo-button demo-button-sm"
    (click)="table.previousPage()"
    [disabled]="!table.getCanPreviousPage()"
  >
    <
  </button>
  <button
    class="demo-button demo-button-sm"
    (click)="table.nextPage()"
    [disabled]="!table.getCanNextPage()"
  >
    >
  </button>
  <button
    class="demo-button demo-button-sm"
    (click)="table.setPageIndex(table.getPageCount() - 1)"
    [disabled]="!table.getCanNextPage()"
  >
    >>
  </button>
  <span class="inline-controls">
    <div>Page</div>
    <strong>
      {{ (table.store.state.pagination.pageIndex + 1).toLocaleString() }} of
      {{ table.getPageCount().toLocaleString() }}
    </strong>
  </span>
  <span class="inline-controls">
    | Go to page:
    <input
      type="number"
      [value]="table.store.state.pagination.pageIndex + 1"
      (input)="onPageInputChange($event)"
      class="page-size-input"
    />
  </span>

  <select [value]="table.store.state.pagination.pageSize" (change)="onPageSizeChange($event)">
    @for (pageSize of [10, 20, 30, 40, 50]; track pageSize) {
      <option [value]="pageSize">Show {{ pageSize }}</option>
    }
  </select>
</div>
<div>{{ table.getRowModel().rows.length.toLocaleString() }} Rows</div>
