html {
  font-family: sans-serif;
  font-size: 14px;
}

table {
  border: 1px solid lightgray;
}

tbody {
  border-bottom: 1px solid lightgray;
}

th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
}

td {
  border-right: 1px solid lightgray;
  padding: 2px 4px;
  background-color: white;
}

td button {
  padding: 1px 1rem;
  cursor: grab;
}

td:last-child {
  border-right: 0;
}

tfoot {
  color: gray;
}

tfoot th {
  font-weight: normal;
}
