html {
  font-family: sans-serif;
  font-size: 14px;
}

.container {
  border: 1px solid lightgray;
  height: 600px;
  max-width: 1200px !important;
  overflow: auto;
}

table {
  border: 1px solid lightgray;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

thead {
  background: lightgray;
  margin: 0;
  position: sticky;
  top: 0;
}

tbody {
  border-bottom: 1px solid lightgray;
  overflow: auto;
  height: 500px;
}

th {
  padding: 2px 4px;
}

td {
  border-bottom: 1px solid lightgray;
  padding: 2px 4px;
}

td:last-child {
  border-right: 0;
}

tfoot {
  color: gray;
}

tfoot th {
  font-weight: normal;
}
